<div class="background"></div>
<div class="row">
    <div class="col-xl-2">
    </div>
    <div class="col-xl-8 col-12s text-center">
        <div class="mb-3">
            <img src="../../../assets/img/small-logo.jpg" alt="INTER-MAQ. Servicios Industriales. S.A."
                class="img-fluid home-img">
        </div>
        <div class="row">
            <h1 class="display-6">¡Muchas gracias por su visita! Sea usted muy bienvenido. Seleccione una de las
                opciones para comenzar.
            </h1>
        </div>
        <div class="row text-center">
            <div class="col-xl-6 col-12 d-flex justify-content-center">
                <button routerLink="/servicios" class="btn btn-outline-primary home-button mt-3">
                    <h3><i class="bi bi-hammer mx-2"></i>Servicios</h3>
                    <h5>Solicita servicios para tus máquinas, ya sea para reparaciones inmediatas o
                        mantenimientos preventivos.</h5>
                </button>
            </div>
            <div class="col-xl-6 col-12 d-flex justify-content-center">
                <button routerLink="/ofertas" class="btn btn-outline-primary home-button mt-3">
                    <h3><i class="bi bi-percent mx-2"></i>Ofertas</h3>
                    <h5>Explora y solicita nuestras ofertas, desde repuestos hasta máquinas usadas,
                        con nuestros precios irresistibles.</h5>
                </button>
            </div>
            <div class="col-xl-6 col-12 d-flex justify-content-center">
                <button routerLink="/repuestos" class="btn btn-outline-primary home-button mt-3">
                    <h3><i class="bi bi-gear-fill mx-2"></i> Repuestos</h3>
                    <h5>Encuentra y solicita fácilmente repuestos para tus máquinas. Optimizá el rendimiento de tus
                        máquinas con piezas
                        de calidad.</h5>
                </button>
            </div>
            <div class="col-xl-6 col-12 d-flex justify-content-center">
                <button routerLink="/alquileres" class="btn btn-outline-primary home-button mt-3">
                    <h3><i class="bi bi-alarm-fill mx-2"></i>Alquileres</h3>
                    <h5>Alquilá autoelevadores, apiladoras, transportadoras, y otros. Flexibilidad y eficiencia para tus
                        necesidades.</h5>
                </button>
            </div>
        </div>

    </div>
    <div class="col-lg-2 col-md-12">
    </div>


</div>
<div class="row d-flex justify-content-center">
    <div class="my-5 mx-4 p-5 bg-primary d-flex justify-content-center rounded image-card home-card">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/home-carousel/Apiladora electrica.png" class="d-block w-100 rounded"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/home-carousel/Reflex electricas.png" class="d-block w-100 rounded"
                        alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/home-carousel/Transportadora electrica.jpg"
                        class="d-block w-100 rounded" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <br>
            <div class="d-flex justify-content-start">
                <h6 class="text-white">
                    Nuestra empresa esta dedicada al mantenimiento, reparación, alquiler y venta de repuestos para
                    máquinas como AUTOELEVADORES, APILADORAS, TRANSPORTADORAS, REFLEX, etc.</h6>
            </div>
        </div>
    </div>
    <div class="my-md-5 mx-md-4 p-md-5 p-4 m-0 bg-primary text-white rounded contact-card home-card">
        <h3>Datos de contacto</h3>
        <br>
        <h5 class="text-white">No dude en enviarnos su consulta</h5>
        <br>
        <h5><a href="https://wa.me/+5493518234585" target="_blank" class="text-white"><i
                    class="bi bi-whatsapp mx-2"></i>+54 9 351
                823-4585</a></h5>
        <br>
        <h5><a href="mailto:rmangini@inter-maq.com.ar" target="_blank" class="text-white"><i
                    class="bi bi-envelope mx-2"></i>
                rmangini&#64;inter-maq.com.ar</a></h5>
        <br>
        <h5><a href="mailto:info@inter-maq.com.ar" target="_blank" class="text-white"><i
                    class="bi bi-envelope mx-2"></i>
                info&#64;inter-maq.com.ar</a></h5>
        <br>
        <div class="d-flex justify-content-start">
            <h5 class="mx-2">
                <i class="bi bi-geo-alt"></i>
            </h5>
            <h5>
                Rio Segundo 1341 <br> B° Altamira - 5006 <br> Córdoba - Argentina
            </h5>
        </div>
    </div>
</div>