<h1>Detalles de la solicitud</h1>
<div class="row">
    <div class="col-md-6 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Información de la solicitud</h5>
                <p><strong>ID:</strong> {{ request.idSolicitud }}</p>
                <p><strong>Estado:</strong> {{ request.estadoSolicitud }}</p>
                <p><strong>Tipo:</strong> {{ request.tipoSolicitud }}</p>
                <p><strong>Solicitante:</strong> {{ request.nombreSolicitante }}</p>
                <p><strong>Razón Social:</strong> {{ request.razonSocial }}</p>
                <p><strong>Teléfono de contacto:</strong> {{ request.telefonoContacto }}</p>
                <p><strong>Email de contacto:</strong> {{ request.emailContacto }}</p>
                <p><strong>Comentario:</strong> {{ request.comentario }}</p>
                <p><strong>Fecha de solicitud:</strong> {{ request.fechaSolicitud | date: 'medium' }}</p>
                <p *ngIf="request.fechaAprobacion"><strong>Fecha de aprobación:</strong> {{ request.fechaAprobacion |
                    date: 'medium'}}</p>
                <p><strong>Presupuesto:</strong> ID # {{ purchaseReq.idPresupuesto || 'No asignado' }}
                    <app-view-invoice-manager *ngIf="purchaseReq.idPresupuesto"
                        [idPresupuesto]="purchaseReq.idPresupuesto!" class="mx-2"></app-view-invoice-manager>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 my-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Oferta</h5>
                <p><strong>ID de oferta:</strong> {{ purchaseReq.idOferta }}</p>
                <p><strong>Nombre:</strong> {{ offer.nombre }}</p>
                <p><strong>Descripción:</strong> {{ offer.descripcion }}</p>
                <p><strong>Precio:</strong> {{ offer.precio | currency: 'ARS'}}</p>
                <p><strong>Fecha de inicio:</strong> {{ offer.fechaInicio | date: 'mediumDate' }}</p>
                <p><strong>Fecha de finalización:</strong> {{ offer.fechaFin | date: 'medium' }}</p>
                <p><strong>Vendida:</strong> {{ offer.vendida ? 'Sí' : 'No' }}</p>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="formst">
    <div class="form-group row">
        <div class="col-xl-4 col-md-8 col-sm-6 mb-3">
            <label for="idEstadoSolicitud" class="form-label">Nuevo estado:</label>
            <select id="selectEstadoSolicitud" class="form-select" formControlName="idEstadoSolicitud">
                <option value=0>Seleccione...</option>
                <option *ngFor="let e of estadosSolicitud" [ngValue]="e.idEstado">{{ e.nombre }}</option>
            </select>
        </div>
        <div class="col-xl-2 col-md-4 col-sm-6 d-flex align-items-end mb-3">
            <button class="btn btn-primary" (click)="updateStatus()">Actualizar Estado</button>
        </div>
    </div>
</form>
<div class="mb-3">
    <button class="btn btn-warning me-3 mb-3" [disabled]="purchaseReq.idPresupuesto"
        (click)="generateBudget(request.idSolicitud)">Generar presupuesto</button>
    <button class="btn btn-danger me-3 mb-3" (click)="reject()">Rechazar</button>
    <button class="btn btn-secondary mb-3" (click)="return()">Volver</button>
</div>