<footer class="footer">
    <div class="container">
        <div class="row justify-content-between text-center">
            <div class="col-md-4 col-12 mb-md-0 mb-3">
                <span class="company-name">Copyright Inter-MAQ S.A.</span>
            </div>
            <div class="col-md-3 col-12 mb-md-0 mb-3 d-flex justify-content-center ">
                <img src="../../../../assets/img/small-logo.jpg" alt="Company Logo" class="logo">
            </div>
            <div class="col-md-5 mb-md-0 mb-3">
                <button class="btn btn-outline-primary btn-faq mb-md-0 mb-1" (click)="toTerms()">Términos y
                    Condiciones</button>
                <button class="btn btn-outline-primary btn-faq mb-md-0 mb-1" (click)="toFaq()">FAQ</button>
                <button class="btn btn-outline-primary btn-faq mb-md-0 mb-1" (click)="toCustomers()">Nuestros
                    clientes</button>
            </div>
        </div>
    </div>
</footer>