.footer {
  background-color: #f8f8f8;
  padding: 15px 0;
}

.company-name {
  font-weight: bold;
  font-size: 18px;
}

.logo {
  max-height: 40px;
  max-width: 100%;
}


.btn-faq {
  margin-left: 10px;
}