<div class="container">
    <h2>Empresas que confían en nosotros</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Empresa A</h5>
            <p class="card-text">Córdoba</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Empresa B</h5>
            <p class="card-text">Alta Gracia, Córdoba</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Empresa C</h5>
            <p class="card-text">Brasil</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Empresa D</h5>
            <p class="card-text">Santa Fé</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Empresa E</h5>
            <p class="card-text">Córdoba</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Empresa F</h5>
            <p class="card-text">Córdoba</p>
          </div>
        </div>
      </div>
    </div>
  </div>