<div class="background">
</div>
<div class="principal">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-md-end justify-content-center my-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Reporte de solicitudes</h5>
                    <p class="card-text">Ver análisis de solicitudes por período de tiempo.</p>
                    <a href="estadisticas/solicitudes" class="btn btn-primary bi bi-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-md-start justify-content-center my-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Reporte de Ventas</h5>
                    <p class="card-text">Ver análisis de ventas por período de tiempo.</p>
                    <a href="estadisticas/ventas" class="btn btn-primary bi bi-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex justify-content-md-end justify-content-center my-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Reporte de clientes</h5>
                    <p class="card-text">Ver análsis de clientes por período de tiempo.</p>
                    <a href="estadisticas/clientes" class="btn btn-primary bi bi-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-md-start justify-content-center my-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Más reportes</h5>
                    <p class="card-text">Proximamente...</p>
                    <a href="#" class="btn btn-primary bi bi-arrow-right disabled"></a>
                </div>
            </div>
        </div>
    </div>
</div>