<h1 class="mb-4">Preguntas frecuentes</h1>

<div class="accordion" id="faqAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1"
                aria-expanded="true" aria-controls="faqCollapse1">
                ¿Cómo me registro en la página?
            </button>
        </h2>
        <div id="faqCollapse1" class="accordion-collapse collapse show" aria-labelledby="faqHeading1"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Actualmente los clientes de nuestra empresa no requieren el uso de un usuario para hacer uso de la
                plataforma.
                Si usted es nuestro empleado, póngase en contacto con los administradores.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                ¿A qué dirección de mail me puedo contactar para hacer una sugerencia o reclamo?
            </button>
        </h2>
        <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqHeading2"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Para cualquier consulta, duda, o reclamo puede escribir a rmangini@inter-maq.com.ar
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                ¿Qué medios de pago aceptan?
            </button>
        </h2>
        <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqHeading3"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Por el momento estamos trabajando con cheques y transferencias bancarias. Próximamente
                estaremos agregando nuevos medios de pago.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                ¿Cómo hago para comprar una oferta? ¿Qué significa que no tenga precio asociado?
            </button>
        </h2>
        <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqHeading4"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                Al realizar una solicitud de compra de alguna oferta, recibirá usted en brevedad un presupuesto via e-mail
                Usted entonces podrá aceptar o rechazar el mismo a través de una URL que se enviará en el mismo correo.
                Si una oferta no tiene precio asociado significa que usted puede mostrar interés en la oferta y solicitar
                un presupuesto para los items detallados como parte de la oferta.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="faqHeading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faqCollapse5" aria-expanded="false" aria-controls="faqCollapse5">
                ¿Qué pasa si al alquilar máquinas no encuentro ninguna disponible o ninguna tiene las espeficicaciones que necesito?
            </button>
        </h2>
        <div id="faqCollapse5" class="accordion-collapse collapse" aria-labelledby="faqHeading5"
            data-bs-parent="#faqAccordion">
            <div class="accordion-body">
                En ese caso usted puede dejar en un comentario lo que requiere y nosotros intentaremos buscar una manera de 
                disponibilizarle las máquinas que usted necesita.
            </div>
        </div>
    </div>
</div>